<div class="container">
  <div class="row well">
    <div class="col-md-6">
      <div *ngIf="isloading">
        <i class="fa fa-spinner fa-spin fa-3x"></i>
      </div>
      <div *ngIf='product' class="thumbnail">
        <img [src]="product.image">
      </div>
    </div>

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h2>{{product?.name}}</h2>
        </div>
      </div>
      <!-- end row-->
      <div class="row">
        <div class="col-md-12">
          <span class="label label-primary">{{product?.category}}</span>
        </div>
      </div>
      <!-- end row -->
      <div class="row">
        <div class="col-md-12 bottom-rule">
          <h2 class="product-price">${{product?.price}}</h2>
        </div>
      </div>
      <!-- end row -->
      <hr>
      <div class="row add-to-cart">
        <div class="col-md-5">
          <!--加號-->
          <span class="btn btn-default btn-lg btn-qty" (click)="changeQty(1)">
              <span class="glyphicon glyphicon-plus"></span>
          </span>
          <span class="btn btn-default btn-lg btn-qty">{{quantity}}</span>
          <!--減號-->
          <span class="btn btn-default btn-lg btn-qty" (click)="changeQty(-1)">
              <span class="glyphicon glyphicon-minus "></span>
          </span>
        </div>
        <div class="col-md-4" *ngIf="auth.authenticated()">
          <button (click)="addToCart()" class="btn btn-lg btn-info ">Add to Cart</button>
        </div>
        <div class="col-md-4" *ngIf="auth.authenticated()">
          <button routerLink="/checkout" class="btn btn-lg btn-info ">Check Out</button>
        </div>
      </div>
      <hr>
      <!-- end row -->
      <div class=" panel panel-info ">
        <div class="panel-heading ">
          <h3 class="panel-title ">Subtotal</h3>
        </div>
        <div class="panel-body " *ngIf='product'>
          {{subtotal()|currency:'USD':true:'1.2-2'}}
        </div>
      </div>
      <button (click)="onBack() " class="btn btn-lg btn-danger ">back</button>
    </div>
  </div>
</div>


<!--<form>
        <div class="form-group ">
          <label for="name ">Name</label>
          <input type="text " id="name " class="form-control ">
        </div>
        <button type="submit " class="btn btn-primary ">Submit</button>
      </form>-->
