<div class="container">
  <div class="row">
    <div class="col-lg-6" *ngFor="let item of cart">
      <!--產品資訊-->
      <div class="list-group">
        <div class="list-group-item">
          <div class="row">
            <!--產品圖-->
            <div class="col-md-3">
              <span><img class="product-image" [src]="item.product.image "></span>
            </div>
            <!--產品名-->
            <div class="col-md-6">
              <h4 class="list-group-item-heading">
                {{item.product.name}}
              </h4>
            </div>
            <!--數量及價格-->
            <div class="col-md-3">
              <p class="list-group-item-text">Quantity:{{item.quantity}}</p>
              <p class="list-group-item-text">Price:{{item.product.price}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="col-md-3">
    <div class="list-group">
      <span class="list-group-item">
      <h4>Total: $<span *ngIf="cart" class="totalPrice">{{totalValue}}</span></h4>

      <div class="form-group">
        <!--<button type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Pay with Stripe</button>-->
        <button routerLink="/" class="btn btn-danger btn-lg">Continue shopping</button>
      </div>
      </span>
    </div>
  </div>
</div>

<h1>Default Stripe Form</h1>
<div class="form-group" *ngIf="takePaymentResult">
  <p>Payment Result: {{takePaymentResult}}</p>
</div>

<button class="btn btn-danger btn-lg" (click)="openCheckout()">Purchase</button>
