<div class="jumbotron" id="navbar-gap">
  <div class="container">
    <h1> Shop Smart, Save Big!</h1>
    <p class="text-center">Search many of Ecommerce's products</p>
    <!--<search-bar></search-bar>-->
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" *ngFor="let product of products">
      <a ng-href="#">
        <div class="thumbnail">
          <img [src]="product.image">
          <div class="caption">
            <h4>{{product.name}}</h4>
            <p>{{product.category}}</p>
            <p>${{product.price}}</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
