<nav class="navbar navbar-inverse navbar-fixed-top">
  <a routerLink="/" class="navbar-brand">E-Commerce</a>

  <ul class="nav navbar-nav navbar-right">
    <li *ngIf="auth.authenticated()">
      <a routerLink="/checkout" class="glyphicon glyphicon-shopping-cart">
        <span class="badge">{{sum()}}</span>
      </a>
    </li>
    <!--改成button-->
    <!--<li><a href="#" (click)="auth.login(); false" *ngIf="!auth.authenticated()"><i class="fa fa-facebook"> Sign In</i></a></li>-->
    <li><a (click)="auth.login()" *ngIf="!auth.authenticated()"><i class="fa fa-facebook"> Sign In</i></a></li>
    <li>
      <a routerLink="/profile" *ngIf="auth.authenticated()">Profile</a>
    </li>
    <li><a (click)="auth.logout(); false" *ngIf="auth.authenticated()"><i class="fa fa-sign-out"> Sign Out</i></a></li>
    <li><a routerLink="/"><i class="fa fa-home"> Home</i></a></li>
  </ul>
</nav>
