<nav class="navbar navbar-inverse navbar-fixed-top">
  <a class="navbar-brand" href="/">E-Commerce</a>

  <ul class="nav navbar-nav navbar-right">
    <li>
      <a href="/cart" class="glyphicon glyphicon-shopping-cart">
        <span class="badge">0</span>
      </a>
    </li>
    <li><a href="/auth/facebook"><i class="fa fa-facebook"> Sign In</i></a></li>
    <li><a href="/logout"><i class="fa fa-sign-out"> Sign Out</i></a></li>
    <li><a href="/"><i class="fa fa-home"> Home</i></a></li>
    <li>
      <a href="" class="dropdown-toggle" data-toggle="dropdown">
        Categories
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li><a href="#">Books</a> </li>
        <li><a href="#">Cars</a> </li>
      </ul>
    </li>
  </ul>
</nav>
